/* My Styles */

.opacity-100 {
    opacity: 1;
}

.opacity-75 {
    opacity: .75;
}

.opacity-50 {
    opacity: .50;
}

.opacity-25 {
    opacity: .25;
}

.absolute {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 75%;
    z-index: 100;
}
